@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');  
#hero{
    width: 900px;
    justify-content: center;
    align-items: center;
    gap: 64;
    display: flex;
    justify-content: space-between;
    background: rgb(198, 228, 214);
    padding: 50px 100px 50px 100px;
    margin: 80px 0px;
    border-radius: 24px;

}
#hero .subtitle{
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 300;
line-height: 29px;
letter-spacing: 0%;
text-align: left;

}
body{
    width: 70%;
    margin: auto;
}
#hero .title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 25px;
font-weight: 700;

}
.hero-content{
    margin: 0px 64px;
}
.btn{
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
#main-card{
    width: 1100px;
    height: 324px; 
}
.pillars{

}
.all-card{
    display: flex;
    gap:30px;
}
.news-one{
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 9px;
    background: rgb(255, 255, 255);
    margin-top: 48px;
    display: flex;
    gap: 15px;
    justify-content: space-between;   
}
.card-img{
    width: 28px;
    height: 30px;
    left: 7px;
    top: 0.56px
    
}
.desc{
    width: 143px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;
}
.card-name{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
margin-bottom: 14px;
}
.description{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 300;
letter-spacing: 0%;
text-align: left;
}
#vision{
    width: 1100px;
    height: 765px;
    margin-top: 80px;
}
.digtal{
    width:230;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 18px;
    margin-top: 26px;
}
.dgm{
    display: flex;
    gap: 50px; 
     
}
.heading{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;
}
.learn{
    width: 100px;
    height: 41px;
    padding: 7px 11px 7px 11px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    margin: 15px;
}
.green{
background: rgb(198, 228, 214);
}
.grn{
background: rgb(9, 161, 92);
}
.orange{
    background: rgb(247, 235, 207);
}
.org{
    background: rgb(255, 194, 57);
}
.news-two{
padding: 14px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 9px;
    background: rgb(255, 255, 255);
    margin-top: 48px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.one-card{
width: 100%;
height:auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 18px 0px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 9px;
background: rgb(255, 255, 255);
padding: 14px;
   
}
.salelite{
width: 229px;
height: 171px;
}
.date{
    margin: 8px;
    margin: 12px 0px;
}

